.article {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 40px;
    width: 80%;

    &__title {
        background-color: $light-grey;
        padding: 20px;
        text-align: center;
    }

    &__h1 {
        color: $dark-grey;
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
    }

    .breadcrumb {
        @include flx(justify-content, center);
        align-items: center;

        &__link {
            @extend %no-decoration;
            color: $dark-grey;
            font-size: 12px;

            &:hover {
                @extend %u-decoration;
                color: $purple;
            }
        }

        &__img {
            margin: 8px;
            width: 10px;
        }
    }

    &__img {
        margin-bottom: 20px;
        width: 100%;
    }

    &__details {
        @include flx(justify-content, center);
        align-items: center;
    }

    &__date {
        font-size: 12px;
        font-style: italic;
        margin: 0 10px;
    }

    &__tag {
        border: 1px solid $purple;
        color: $purple;
        font-size: 14px;
        margin: 0 10px;
        padding: 5px 7px;
    }

    &__content {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 100;
        padding: 10px 20px;
    }
}